# Configuration file

general {
    # Show all available wild crop blocks (from all mods) in the log. [default: false]
    B:showAvailableWildCrops=false

    # Enable wild crops [default: true]
    B:wildCropsEnabled=true

    # Define the maximum size a patch of wild crops will be when they spawn [range: 1 ~ 20, default: 1]
    I:wildCropsMaxPatchSize=1

    # Define the minimum size a patch of wild crops will be when they spawn [range: 1 ~ 1, default: 1]
    I:wildCropsMinPatchSize=1

    # If true, only a single (random) crop will spawn within a given spawn area [default: false]
    B:wildCropsOneCropPerSpawn=false

    # Chance that a crop will spawn within a chunk [range: 0 ~ 100, default: 50]
    I:wildCropsSpawnChance=50
}


"minecraft:air" {
    # This is an example, assigning carrots to air blocks, you can define as many base blocks as you want and what crops should grow on them, this example will not actually work as carrots can't grow in the air. [default: [minecraft:carrots]]
    S:crops <
        minecraft:carrots
     >
}


"ore:grass" {
    S:crops <
        minecraft:potatoes
        minecraft:wheat
        minecraft:carrots
        minecraft:beetroots
        minecraft:melon_stem
        minecraft:pumpkin_stem
        harvestcraft:pamblackberrycrop
        harvestcraft:pamblueberrycrop
        harvestcraft:pamcandleberrycrop
        harvestcraft:pamraspberrycrop
        harvestcraft:pamstrawberrycrop
        harvestcraft:pamcactusfruitcrop
        harvestcraft:pamasparaguscrop
        harvestcraft:pambarleycrop
        harvestcraft:pamoatscrop
        harvestcraft:pamryecrop
        harvestcraft:pamcorncrop
        harvestcraft:pambambooshootcrop
        harvestcraft:pamcantaloupecrop
        harvestcraft:pamcucumbercrop
        harvestcraft:pamwintersquashcrop
        harvestcraft:pamzucchinicrop
        harvestcraft:pambeetcrop
        harvestcraft:pamonioncrop
        harvestcraft:pamparsnipcrop
        harvestcraft:pampeanutcrop
        harvestcraft:pamradishcrop
        harvestcraft:pamrutabagacrop
        harvestcraft:pamsweetpotatocrop
        harvestcraft:pamturnipcrop
        harvestcraft:pamrhubarbcrop
        harvestcraft:pamcelerycrop
        harvestcraft:pamgarliccrop
        harvestcraft:pamgingercrop
        harvestcraft:pamspiceleafcrop
        harvestcraft:pamteacrop
        harvestcraft:pamcoffeecrop
        harvestcraft:pammustardcrop
        harvestcraft:pambroccolicrop
        harvestcraft:pamcauliflowercrop
        harvestcraft:pamleekcrop
        harvestcraft:pamlettucecrop
        harvestcraft:pamscallioncrop
        harvestcraft:pamartichokecrop
        harvestcraft:pambrusselsproutcrop
        harvestcraft:pamcabbagecrop
        harvestcraft:pamspinachcrop
        harvestcraft:pambeancrop
        harvestcraft:pamsoybeancrop
        harvestcraft:pambellpeppercrop
        harvestcraft:pamchilipeppercrop
        harvestcraft:pameggplantcrop
        harvestcraft:pamokracrop
        harvestcraft:pampeascrop
        harvestcraft:pamtomatocrop
        harvestcraft:pampineapplecrop
        harvestcraft:pamgrapecrop
        harvestcraft:pamkiwicrop
        harvestcraft:pamcranberrycrop
        harvestcraft:pamricecrop
        harvestcraft:pamseaweedcrop
        harvestcraft:pamcurryleafcrop
        harvestcraft:pamsesameseedscrop
        harvestcraft:pamwaterchestnutcrop
        harvestcraft:pamgigapicklecrop
        harvestcraft:pamkalecrop
        harvestcraft:pamsunflowerseedsitem
        harvestcraft:pamcottoncrop
     >
}


"ore:dryGrassDry" {
    S:crops <
        minecraft:potatoes
        minecraft:wheat
        minecraft:carrots
        minecraft:beetroots
        minecraft:melon_stem
        minecraft:pumpkin_stem
        harvestcraft:pamblackberrycrop
        harvestcraft:pamblueberrycrop
        harvestcraft:pamcandleberrycrop
        harvestcraft:pamraspberrycrop
        harvestcraft:pamstrawberrycrop
        harvestcraft:pamcactusfruitcrop
        harvestcraft:pamasparaguscrop
        harvestcraft:pambarleycrop
        harvestcraft:pamoatscrop
        harvestcraft:pamryecrop
        harvestcraft:pamcorncrop
        harvestcraft:pambambooshootcrop
        harvestcraft:pamcantaloupecrop
        harvestcraft:pamcucumbercrop
        harvestcraft:pamwintersquashcrop
        harvestcraft:pamzucchinicrop
        harvestcraft:pambeetcrop
        harvestcraft:pamonioncrop
        harvestcraft:pamparsnipcrop
        harvestcraft:pampeanutcrop
        harvestcraft:pamradishcrop
        harvestcraft:pamrutabagacrop
        harvestcraft:pamsweetpotatocrop
        harvestcraft:pamturnipcrop
        harvestcraft:pamrhubarbcrop
        harvestcraft:pamcelerycrop
        harvestcraft:pamgarliccrop
        harvestcraft:pamgingercrop
        harvestcraft:pamspiceleafcrop
        harvestcraft:pamteacrop
        harvestcraft:pamcoffeecrop
        harvestcraft:pammustardcrop
        harvestcraft:pambroccolicrop
        harvestcraft:pamcauliflowercrop
        harvestcraft:pamleekcrop
        harvestcraft:pamlettucecrop
        harvestcraft:pamscallioncrop
        harvestcraft:pamartichokecrop
        harvestcraft:pambrusselsproutcrop
        harvestcraft:pamcabbagecrop
        harvestcraft:pamspinachcrop
        harvestcraft:pambeancrop
        harvestcraft:pamsoybeancrop
        harvestcraft:pambellpeppercrop
        harvestcraft:pamchilipeppercrop
        harvestcraft:pameggplantcrop
        harvestcraft:pamokracrop
        harvestcraft:pampeascrop
        harvestcraft:pamtomatocrop
        harvestcraft:pampineapplecrop
        harvestcraft:pamgrapecrop
        harvestcraft:pamkiwicrop
        harvestcraft:pamcranberrycrop
        harvestcraft:pamricecrop
        harvestcraft:pamseaweedcrop
        harvestcraft:pamcurryleafcrop
        harvestcraft:pamsesameseedscrop
        harvestcraft:pamwaterchestnutcrop
        harvestcraft:pamgigapicklecrop
        harvestcraft:pamkalecrop
        harvestcraft:pamsunflowerseedsitem
        harvestcraft:pamcottoncrop
     >
}


"tfc:grass:*" {
    S:crops <
        minecraft:potatoes
        minecraft:wheat
        minecraft:carrots
        minecraft:beetroots
        minecraft:melon_stem
        minecraft:pumpkin_stem
        harvestcraft:pamblackberrycrop
        harvestcraft:pamblueberrycrop
        harvestcraft:pamcandleberrycrop
        harvestcraft:pamraspberrycrop
        harvestcraft:pamstrawberrycrop
        harvestcraft:pamcactusfruitcrop
        harvestcraft:pamasparaguscrop
        harvestcraft:pambarleycrop
        harvestcraft:pamoatscrop
        harvestcraft:pamryecrop
        harvestcraft:pamcorncrop
        harvestcraft:pambambooshootcrop
        harvestcraft:pamcantaloupecrop
        harvestcraft:pamcucumbercrop
        harvestcraft:pamwintersquashcrop
        harvestcraft:pamzucchinicrop
        harvestcraft:pambeetcrop
        harvestcraft:pamonioncrop
        harvestcraft:pamparsnipcrop
        harvestcraft:pampeanutcrop
        harvestcraft:pamradishcrop
        harvestcraft:pamrutabagacrop
        harvestcraft:pamsweetpotatocrop
        harvestcraft:pamturnipcrop
        harvestcraft:pamrhubarbcrop
        harvestcraft:pamcelerycrop
        harvestcraft:pamgarliccrop
        harvestcraft:pamgingercrop
        harvestcraft:pamspiceleafcrop
        harvestcraft:pamteacrop
        harvestcraft:pamcoffeecrop
        harvestcraft:pammustardcrop
        harvestcraft:pambroccolicrop
        harvestcraft:pamcauliflowercrop
        harvestcraft:pamleekcrop
        harvestcraft:pamlettucecrop
        harvestcraft:pamscallioncrop
        harvestcraft:pamartichokecrop
        harvestcraft:pambrusselsproutcrop
        harvestcraft:pamcabbagecrop
        harvestcraft:pamspinachcrop
        harvestcraft:pambeancrop
        harvestcraft:pamsoybeancrop
        harvestcraft:pambellpeppercrop
        harvestcraft:pamchilipeppercrop
        harvestcraft:pameggplantcrop
        harvestcraft:pamokracrop
        harvestcraft:pampeascrop
        harvestcraft:pamtomatocrop
        harvestcraft:pampineapplecrop
        harvestcraft:pamgrapecrop
        harvestcraft:pamkiwicrop
        harvestcraft:pamcranberrycrop
        harvestcraft:pamricecrop
        harvestcraft:pamseaweedcrop
        harvestcraft:pamcurryleafcrop
        harvestcraft:pamsesameseedscrop
        harvestcraft:pamwaterchestnutcrop
        harvestcraft:pamgigapicklecrop
        harvestcraft:pamkalecrop
        harvestcraft:pamsunflowerseedsitem
        harvestcraft:pamcottoncrop
     >
}


"tfc:dry_grass:*" {
    S:crops <
        minecraft:potatoes
        minecraft:wheat
        minecraft:carrots
        minecraft:beetroots
        minecraft:melon_stem
        minecraft:pumpkin_stem
        harvestcraft:pamblackberrycrop
        harvestcraft:pamblueberrycrop
        harvestcraft:pamcandleberrycrop
        harvestcraft:pamraspberrycrop
        harvestcraft:pamstrawberrycrop
        harvestcraft:pamcactusfruitcrop
        harvestcraft:pamasparaguscrop
        harvestcraft:pambarleycrop
        harvestcraft:pamoatscrop
        harvestcraft:pamryecrop
        harvestcraft:pamcorncrop
        harvestcraft:pambambooshootcrop
        harvestcraft:pamcantaloupecrop
        harvestcraft:pamcucumbercrop
        harvestcraft:pamwintersquashcrop
        harvestcraft:pamzucchinicrop
        harvestcraft:pambeetcrop
        harvestcraft:pamonioncrop
        harvestcraft:pamparsnipcrop
        harvestcraft:pampeanutcrop
        harvestcraft:pamradishcrop
        harvestcraft:pamrutabagacrop
        harvestcraft:pamsweetpotatocrop
        harvestcraft:pamturnipcrop
        harvestcraft:pamrhubarbcrop
        harvestcraft:pamcelerycrop
        harvestcraft:pamgarliccrop
        harvestcraft:pamgingercrop
        harvestcraft:pamspiceleafcrop
        harvestcraft:pamteacrop
        harvestcraft:pamcoffeecrop
        harvestcraft:pammustardcrop
        harvestcraft:pambroccolicrop
        harvestcraft:pamcauliflowercrop
        harvestcraft:pamleekcrop
        harvestcraft:pamlettucecrop
        harvestcraft:pamscallioncrop
        harvestcraft:pamartichokecrop
        harvestcraft:pambrusselsproutcrop
        harvestcraft:pamcabbagecrop
        harvestcraft:pamspinachcrop
        harvestcraft:pambeancrop
        harvestcraft:pamsoybeancrop
        harvestcraft:pambellpeppercrop
        harvestcraft:pamchilipeppercrop
        harvestcraft:pameggplantcrop
        harvestcraft:pamokracrop
        harvestcraft:pampeascrop
        harvestcraft:pamtomatocrop
        harvestcraft:pampineapplecrop
        harvestcraft:pamgrapecrop
        harvestcraft:pamkiwicrop
        harvestcraft:pamcranberrycrop
        harvestcraft:pamricecrop
        harvestcraft:pamseaweedcrop
        harvestcraft:pamcurryleafcrop
        harvestcraft:pamsesameseedscrop
        harvestcraft:pamwaterchestnutcrop
        harvestcraft:pamgigapicklecrop
        harvestcraft:pamkalecrop
        harvestcraft:pamsunflowerseedsitem
        harvestcraft:pamcottoncrop
     >
}


"minecraft:grass" {
    S:crops <
        minecraft:potatoes
        minecraft:wheat
        minecraft:carrots
        minecraft:beetroots
        minecraft:melon_stem
        minecraft:pumpkin_stem
        harvestcraft:pamblackberrycrop
        harvestcraft:pamblueberrycrop
        harvestcraft:pamcandleberrycrop
        harvestcraft:pamraspberrycrop
        harvestcraft:pamstrawberrycrop
        harvestcraft:pamcactusfruitcrop
        harvestcraft:pamasparaguscrop
        harvestcraft:pambarleycrop
        harvestcraft:pamoatscrop
        harvestcraft:pamryecrop
        harvestcraft:pamcorncrop
        harvestcraft:pambambooshootcrop
        harvestcraft:pamcantaloupecrop
        harvestcraft:pamcucumbercrop
        harvestcraft:pamwintersquashcrop
        harvestcraft:pamzucchinicrop
        harvestcraft:pambeetcrop
        harvestcraft:pamonioncrop
        harvestcraft:pamparsnipcrop
        harvestcraft:pampeanutcrop
        harvestcraft:pamradishcrop
        harvestcraft:pamrutabagacrop
        harvestcraft:pamsweetpotatocrop
        harvestcraft:pamturnipcrop
        harvestcraft:pamrhubarbcrop
        harvestcraft:pamcelerycrop
        harvestcraft:pamgarliccrop
        harvestcraft:pamgingercrop
        harvestcraft:pamspiceleafcrop
        harvestcraft:pamteacrop
        harvestcraft:pamcoffeecrop
        harvestcraft:pammustardcrop
        harvestcraft:pambroccolicrop
        harvestcraft:pamcauliflowercrop
        harvestcraft:pamleekcrop
        harvestcraft:pamlettucecrop
        harvestcraft:pamscallioncrop
        harvestcraft:pamartichokecrop
        harvestcraft:pambrusselsproutcrop
        harvestcraft:pamcabbagecrop
        harvestcraft:pamspinachcrop
        harvestcraft:pambeancrop
        harvestcraft:pamsoybeancrop
        harvestcraft:pambellpeppercrop
        harvestcraft:pamchilipeppercrop
        harvestcraft:pameggplantcrop
        harvestcraft:pamokracrop
        harvestcraft:pampeascrop
        harvestcraft:pamtomatocrop
        harvestcraft:pampineapplecrop
        harvestcraft:pamgrapecrop
        harvestcraft:pamkiwicrop
        harvestcraft:pamcranberrycrop
        harvestcraft:pamricecrop
        harvestcraft:pamseaweedcrop
        harvestcraft:pamcurryleafcrop
        harvestcraft:pamsesameseedscrop
        harvestcraft:pamwaterchestnutcrop
        harvestcraft:pamgigapicklecrop
        harvestcraft:pamkalecrop
        harvestcraft:pamsunflowerseedsitem
        harvestcraft:pamcottoncrop
     >
}